<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sneaklife.dao.system.columns.ColumnsMapper">
  <select id="findColumnsByShow" resultType="com.sneaklife.dao.entity.Columns" parameterType="map">
    select * from columns
    <where>
      is_del = 0
      <if test="isShow != null">
        AND is_show = #{isShow}
      </if>
      <if test="treeViewId != null and treeViewId != ''">
        AND menu_id = #{treeViewId}
      </if>
    </where>
  </select>
</mapper>
