<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sneaklife.pms.dao.system.authority.opera.OperaSbMapper">
  <select id="findAllPage" parameterType="map" resultType="map">
    select
      os.id as id,
      os.icon as icon,
      os.code as code,
      os.url as url,
      os.type as type,
      dd2.name as typeName,
      dd1.name as iconName,
      dd.name as codeName
    from opera_sb os inner join data_dictionary dd on os.code = dd.value
    inner join data_dictionary dd1 on os.icon = dd1.value
    inner join data_dictionary dd2 on os.type = dd2.value
    <where>
      os.is_del = 0
      <if test="menuId != null and menuId != ''">
        and os.menu_id = #{menuId}
      </if>
      <if test="icon != null and icon != ''">
        and os.icon = #{icon}
      </if>
      <if test="code != null and code != ''">
        and os.code = #{code}
      </if>
      <if test="type != null and type != ''">
        and os.type = #{type}
      </if>
    </where>
  </select>

  <select id="findOperaSb" resultType="map" parameterType="map">
    select
      os.id as id,
      os.icon as icon,
      os.code as code,
      os.url as url,
      os.type as type,
      os.is_show as isShow,
      dd2.name as typeName,
      dd1.name as iconName,
      dd.name as codeName
    from opera_sb os
    inner join data_dictionary dd on os.code = dd.value
    inner join data_dictionary dd1 on os.icon = dd1.value
    inner join data_dictionary dd2 on os.type = dd2.value
    <where>
      os.is_del = 0
      <if test="isShow != null">
        AND os.is_show = #{isShow}
      </if>
      <if test="menuId != null and menuId != ''">
        AND os.menu_id = #{menuId}
      </if>
    </where>
  </select>

  <select id="checkOperaSbByShow" parameterType="map" resultType="int">
    select count(id) from opera_sb where is_del = 0 AND is_show = 0 AND menu_id = #{menuId}
  </select>
  <update id="updateOperaSbShow" parameterType="map">
    update opera_sb
    <set>
      is_show = #{status}
    </set>
    <where>
      id = #{treeViewId}
    </where>
  </update>
  <select id="checkOperaSbById" parameterType="map" resultType="int">
    select count(id) from opera_sb where id = #{treeViewId} AND is_del = 0
  </select>


  <insert id="insert" parameterType="map">
    insert into opera_sb
    (
      id,
      type,
      code,
      icon,
      create_date,
      update_date,
      is_del,
      url,
      menu_id,
      is_show
    )
    value
    (
      REPLACE(UUID(), '-', ''),
      #{type,jdbcType=VARCHAR},
      #{code,jdbcType=INTEGER},
      #{icon,jdbcType=VARCHAR},
      NOW(),
      NOW(),
      0,
      #{url,jdbcType=VARCHAR},
      #{menuIdTemp,jdbcType=CHAR},
      0
    )
  </insert>

  <update id="update" parameterType="map">
    update opera_sb
    <set>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    <where>
      id = #{id}
    </where>
  </update>

  <update id="delete" parameterType="map">
    update opera_sb set is_del = 1
    <where>
      id in
      <foreach collection="map.ids" index="index" item="item" open="(" separator="," close=")">
        #{item}
      </foreach>
    </where>
  </update>
</mapper>
