<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sneaklife.pms.dao.system.authority.opera.OperaInMapper">
  <select id="findOperaInByShow" resultType="com.sneaklife.pms.entity.OperaIn" parameterType="map">
    select * from opera_in
    <where>
      is_del = 0
      <if test="isShow != null">
        AND is_show = #{isShow}
      </if>
      <if test="menuId != null and menuId != ''">
        AND menu_id = #{menuId}
      </if>
    </where>
  </select>
  <update id="updateOperaInShow" parameterType="map">
    update opera_in
    <set>
      is_show = #{status}
    </set>
    <where>
      id = #{treeViewId}
    </where>
  </update>
  <select id="checkOperaInByShow" parameterType="map" resultType="int">
    select count(id) from opera_in where is_del = 0 AND is_show = 0 AND menu_id = #{menuId}
  </select>
  <select id="checkOperaInById" parameterType="map" resultType="int">
    select count(id) from opera_in where id = #{treeViewId} AND is_del = 0
  </select>
</mapper>
