<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sneaklife.pms.dao.system.authority.roleConfig.RoleConfigMapper">
  <!-- 数据插入 -->
  <insert id="insert" parameterType="map">
    insert into role_config(
      id,
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      create_date,
      update_date,
      is_del
    ) values (
      REPLACE(UUID(), '-', ''),
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      NOW(),
      NOW(),
      0
    )
  </insert>

  <update id="update" parameterType="map">
    update role_config
    <set>
      <if test="name != null">
        name = #{name},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      update_date = now()
    </set>
    <where>
      id = #{id}
    </where>
  </update>

  <update id="delete" parameterType="map">
    update role_config set is_del = 1 where id = #{id}
  </update>

  <select id="getByIsDel" parameterType="int" resultType="com.sneaklife.pms.entity.RoleConfig">
    select * from role_config where is_del = #{isDel}
  </select>

  <select id="getByIsDelMap" parameterType="int" resultType="map">
    select
      id as id,
      name as name,
      type as type
    from role_config where is_del = #{isDel}
  </select>

  <select id="getById" parameterType="string" resultType="com.sneaklife.pms.entity.RoleConfig">
    select
      id as id,
      name as name,
      type as type
    from role_config
    <where>
      id = #{id} AND is_del = 0
    </where>
  </select>
</mapper>
