<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sneaklife.pms.dao.system.authority.userRole.UserRoleMapper">
  <select id="findAllPage"  parameterType="map" resultType="map">
    select
      ur.user_id as userId,
      ur.id as id,
      ur.role_id as roleId,
      u.name as userName,
      rc.name as roleName,
      rc.id as value,
      rc.name as text
    from user_role ur inner join user u on ur.user_id = u.uuid
    inner join role_config rc on ur.role_id = rc.id
    <where>
      ur.is_del = 0
    </where>
  </select>

  <insert id="insert" parameterType="map"></insert>
  <update id="update" parameterType="map"></update>
  <delete id="delete" parameterType="map"></delete>

  <update id="updateBatch" parameterType="list">
    update user_role
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="user_id =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          <if test="item.userId != null and item.userId != ''">
            when id=#{item.id} then #{item.userId}
          </if>
        </foreach>
      </trim>
      <trim prefix="role_id =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          <if test="item.value != null and item.value != ''">
            when id=#{item.id} then #{item.value}
          </if>
        </foreach>
      </trim>
      <trim prefix="update_date =case" suffix="end,">
        <foreach collection="list" item="item" index="index">
          when id=#{item.id} then NOW()
        </foreach>
      </trim>
    </trim>
    <where>
      id in
      <foreach collection="list" index="index" item="item" separator="," open="(" close=")">
        #{item.id}
      </foreach>
    </where>
  </update>
</mapper>
