logging:
  file: sneakLifeLog.log
  level:
    root: info
    com.sneaklife: debug

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1:3306/sneaklifedb?useUnicode=true&characterEncoding=utf-8&useSSL=false&allowMultiQueries=true&serverTimezone=GMT&rewriteBatchedStatements=true
    username: root
    password: 123456
    type: com.alibaba.druid.pool.DruidDataSource

  redis:
    timeout: 7000ms
    jedis:
      pool:
        max-active: 1000
        max-wait: -1ms
        max-idle: 10
        min-idle: 5
    host: 127.0.0.1
    port: 6379
    password: 435e36d6ad16a11b70b7f8cf17db12e9b0ad8dc9

  session:
    store-type: redis
    timeout: 30m
    redis:
      namespace: redis:session

  data:
    mongodb:
      uri: mongodb://127.0.0.1:27017/sneakLifeLogDB
