<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sneaklife.dao.system.authority.opera.ColumnsMapper">
  <select id="findColumnsByShow" resultType="com.sneaklife.dao.entity.Columns" parameterType="map">
    select * from columns
    <where>
      is_del = 0
      <if test="isShow != null">
        AND is_show = #{isShow}
      </if>
      <if test="menuId != null and menuId != ''">
        AND menu_id = #{menuId}
      </if>
    </where>
  </select>
  <update id="updateColumnsShow" parameterType="map">
    update columns
    <set>
      is_show = #{status}
    </set>
    <where>
      id = #{treeViewId}
    </where>
  </update>
  <select id="checkColumnsByShow" parameterType="map" resultType="int">
    select count(id) from columns where is_del = 0 AND is_show = 0 AND menu_id = #{menuId}
  </select>
  <select id="checkColumnsById" parameterType="map" resultType="int">
    select count(id) from columns where id = #{treeViewId} AND is_del = 0
  </select>
</mapper>
